.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.rotate{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotation 8s infinite linear;
    text-align: left;
}

@keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }

.rightBtn{
     float: right;
  }